.td-des {
    width: 300px;
}

body {
    background: #fff;
}

.card {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 6px;
    height: 500px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
}

.card .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.card .media {
    height: 200px;
}

.card .p-32 {
    padding: 32px;
}

.card .title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
}

.card .content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}

.card .end {
    width: 40%;
}

.m-t-24 {
    margin-top: 24px;
}

button {

    border-radius: 0px !important;
}

.result {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

button.ant-btn {
    background: #000;
}